{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
    <div class="form-width form-centered">
        <h1 class="text-center">Sign Up</h1>
        <form action="" method="post" name="signup">
            <div class="form-group">                
                {{ form.hidden_tag() }}
                {{ form.email.label }}: 
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
                {{ form.email(placeholder="yourname@email.com", class="form-control") }}
            </div>
            <div class="form-group"> 
                {{ form.password.label }}: 
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
                {{ form.password(placeholder="6-18 characters", class="form-control") }}    
            </div>
            <div class="form-group"> 
                {{ form.confirm.label }}: 
                {{ form.confirm(placeholder="6-18 characters", class="form-control") }}
                {{ form.csrf_token }}     
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
{% endblock %}